* {
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    margin-top: 30px;
    font-family: "Source Serif Pro", serif;
}

.buttons {
    font-size: 22px;
    margin-top: 2%;
    margin-left: 4.2%;
}

.fa:hover {
    color: darkcyan;
}

.container {
    display: flex;
    flex-flow: column nowrap;
}
/*CSS Grid*/
.section-grid {
    display: flex;
    padding-left: 25px;
    padding-right: 25px;
}
.grid-prod {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
}
.prod-grid {
    flex: 1 1 25%;
    margin: 2%;
    padding: 12px;
    border: 2px solid #000;
}

.prod-grid img {
    width: 100%;
}
h3,
p {
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1px;
}

button {
    float: right;
}

.section-list {
    display: flex;
    padding: 2% 4%;
}
table {
    width: 100%;
    margin: 10px 10px;
    border: 2px solid #000;
    border-collapse: collapse;
    border-spacing: 0;
}
table tr td {
    padding: 10px;
    border-top: 2px solid #000;
}
tr td img {
    width: 100%;
}
.btn-list {
    background: darkcyan;
    border: 1px solid darkcyan;
    border-radius: 6px;
    color: white;
    font-size: 22px;
    width: 200px;
    height: 40px;
    position: right;
    margin: 10px;
    margin-top: 10%;
    letter-spacing: 1px;
    display: inline-block;
}
.btn-list:hover {
    background: white;
    border: 2px solid darkcyan;

    color: darkcyan;

    margin: 10%;
}
button {
    float: right;
}

@media (min-width: 320px) and (max-width: 480px) {
    .section-list,
    .buttons {
        display: none;
    }
}

.pro_desc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.pro_title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
}
